apiVersion: apps/v1
kind: Deployment
metadata:
  name: notes-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: notes-app
  template:
    metadata:
      labels:
        app: notes-app
    spec:
      containers:
        - name: notes-app
          image: azuredevdevops/notes-app:128
          ports:
            - containerPort: 80
          envFrom:
            - secretRef:
                name: django-secrets

