metadata:
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
spec:
  tls:
    - hosts:
        - notes.devopsdev.net
      secretName: notes-app-tls
  rules:
    - host: notes.devopsdev.net
