apiVersion: apps/v1
kind: Deployment
metadata:
  name: notes-app
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: notes-app
  template:
    metadata:
      labels:
        app: notes-app
    spec:
      containers:
      - name: notes-app
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - containerPort: 8000

        readinessProbe:
          httpGet:
            path: /health/
            port: 8000
          initialDelaySeconds: 20
          periodSeconds: 5
          failureThreshold: 3

        livenessProbe:
          httpGet:
            path: /health/
            port: 8000
          initialDelaySeconds: 40
          periodSeconds: 10
          failureThreshold: 3

