apiVersion: apps/v1
kind: Deployment
metadata:
  name: django-app
  namespace: notes-app
spec:
  replicas: 2
  progressDeadlineSeconds: 300

  selector:
    matchLabels:
      app: django

  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0

  template:
    metadata:
      labels:
        app: django
    spec:
      containers:
      - name: django
        image: azuredevdevops/notes-app:125
        imagePullPolicy: Always

        ports:
        - containerPort: 8000

        readinessProbe:
          httpGet:
            path: /health/
            port: 8000
          initialDelaySeconds: 30
          periodSeconds: 5

        livenessProbe:
          httpGet:
            path: /health/
            port: 8000
          initialDelaySeconds: 60
          periodSeconds: 10

